body {
    background: rgb(185, 235, 255);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'EB Garamond', serif;
    color: rgb(52, 50, 50);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(211, 232, 255);
    margin: auto;
    padding: 0;
    width: 70%;
}

p {
    color: rgb(102, 110, 118);
    text-align: left;
    margin-left: 10px;
}

h4 {
    font-size: 17px;
    margin: auto;
}

.weather-container {
    margin: 25px 0 25px 0;
    width: 33rem;
    height: 40rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 8px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    background-image: url("background.jpg");
}

#feelsLikeContainer,
#humidityContainer,
#pressureContainer,
#windSpeedContainer {
    width: 6.5rem;
    height: 6.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 8px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

#importantContainer {
    margin: auto;
    width: 20rem;
    height: 12rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

#importantContainer div {
    display: flex;
    flex-direction: row;
}

#timeContainer {
    margin: auto;
    width: 20rem;
    height: 3rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container:before,
#importantContainer:before,
#feelsLikeContainer:before,
#humidityContainer:before,
#pressureContainer:before,
#windSpeedContainer:before,
#timeContainer:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.344);
    filter: blur(10px);
    margin: -20px;
}

.inner-main-containers {
    margin-top: 40px;
}

.inner-main-containers,
.inner-footer-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inner-detail-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px 0 60px 0;
}

.about-me-card>hr {
    margin: 0;
}

.about-me-head>h1 {
    text-align: center;
}

.about-me-head>img {
    margin-top: 21px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    border: 1px solid #ea1d6f;
}

.about-me-main {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.about-me-main>p {
    width: 70%;
}

.about-me-skills {
    text-align: center;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.skills>h4 {
    border: 1px solid #ea1d6f;
    border-radius: 5%;
    padding: 15px;
    margin-left: 5px;
}